<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AfriBelle  </title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app" ng-controller="appController" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background-color:black">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">AfriBelle</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Découverte</a>
                    </li>
                    <li>
                        <a href="#services">Pour les clientes</a>
                    </li>
                    <li>
                        <a href="#vendeuse">Pour les vendeuses</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="background-color:;color:black">AfriBelle</h1>
                        <h3>Arrive bientot à Abidjan!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a" >

        <div class="container" >
            <div class="row" >
                <div class="col-lg-5 col-sm-6" >
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                       Ta platforme en ligne pour acheter et vendre des produits et accéssoires de beauté 
                    </h2>
                    <p class="lead" style="text-align:justify">
                        Tu cherches peut-être de nouvelles huiles essentielles pour redonnner du volume à tes cheuveux, ou un jolie parfum a offrir à ta cousine mais tu n'as pas envie de te déplacer pour faire les magasins?
                    </br>

                       Ne t'inquiètes pas, AfriBelle arrive bientot à Abidjan pour te permettre de faire ton shopping beauté en ligne!

                     
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/pretty.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b" style="background-image:url('images/a.jpg')">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h1 class="section-heading" style="color:white;background-color:black">
                        Pourquoi acheter sur AfriBelle? 
                    </h1>
                    <p class="lead" style="color:white;background-color:black">
                         AfriBelle est concu par une équipe qui veut te donner la meilleure expérience d'achat de produits de beauté en ligne. Le site sera disponible en Septembre 2016 mais découvre déjà les raisons de suivre le site de près:
                         </br></br>



                      

                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                       <strong>
                           1) L'embarras du choix:
                        </strong></br>
                    </h2>
                    <p class="lead">
                        
                        Puisque AfriBelle est une platforme libre spécialisée en vente de produits beauté, tu pourras choisir des articles mis en vente par plusieurs vendeuses situées à Abidjan.</br>

                        N'est ce pas beaucoup plus rapide et amusant que de rechercher chaque magasin ou vendeuse inviduellement sur Facebook?</br>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/choix.jpg" width="170%" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b" style="background-color:#f62e46;color:black">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                         <strong>
                            2) Paiement et livraison à domicile
                        </strong></br>
                       
                    </h2>
                    <p class="lead">
                         Tu obtiens un reçu pour chaque achat que tu effectues et tu payes à la livraison une fois tes articles recus.
                        </br>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/16.jpg" width="70%" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                       3) Nous construisons AfriBelle avec toi!
                       
                    </h2>
                    <p class="lead">

                         Merci d'avoir lu jusqu'ici. 
                         </br>
                         
                         <p ng-hide="form">
                         Nous voulons construire AfriBelle avec toi donc si tu as des conseils à nous donner ou des suggestions à faire, merci de bien vouloir nous laisser tes cordonées:</br></br>


                        
                        <label>Ton nom</label>
                        <input type="text" class="form-control" ng-model="customerContact.nom" />
                        <label>Numéro de téléphone</label>
                        <input type="text" class="form-control" ng-model="customerContact.telephone"  />
                         
                         <label>Message</label>
                         <textarea class="form-control" 
                         placeholder="Tu peut juste nous laisser ton nom et ton téléphone si tu veut" ng-model="customerContact.message"> 
                        </textarea> 
                        
                        </br>
                        <button class="btn btn-default btn-block" ng-click='submitCustomer()'> Envoyer 
                        </button> 
                        {{messageCustomer}}

                        </p>

                         <a href="https://www.facebook.com/afribelle/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Aime la page sur facebook!</span></a>


                        </br></br></br>
                        <strong> 
                        Acheter ne veut pas dire que tu ne peut pas également vendre!
                        </strong></br>
                        
                         Si l'idée de vendre des articles sur AfriBelle t'intéresse clique
                        <a href="#vendeuse">ici! </a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/hand.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    
    
                        <!--      Vendre sur AfriBelle        -->

    <a  name="vendeuse"></a>
<div class="content-section-a" style="background-image:url('images/newbacky.jpg');background-size:50%">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <center><h1 class="section-heading" style="background-color:black;color:white">
                       <strong> 
                       Crée ta boutique sur AfriBelle!
                      </strong></br>
                       
                       
                    </h1> </center>
                    <p class="lead"  style="background-color:black;color:white">

                         Tu vends deja des produits de beauté dans un magasin ou chez toi et tu
                         cherches un moyen de booster ton chiffre d'affaires? </br></br>
                        
                           Décovre ci dessous les raisons de créer ta boutique en ligne sur AfriBelle!

                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                         <strong>
                          C'est specialisé
                        </strong></br>
                       
                    </h2>
                    <p class="lead">

                        Te retrouves tu dans ces profils:

                            </br>
                        "Je vends dans des groupes facebook mais comme je vends des produits cosmétiques mes articles sont souvent ignorés"</br></br>

                        "Ma page facebook est génial mais c'est cher de tout le temps faire de la promotion</br></br>

                        "Convertir des J'aime en vrai vente n'est pas chose facile."
                        </br></br>

                       "On y vends tellement de choses différentes sur facebook, je cherche à atteindre ma clientelle plus facilement."</br></br>

                       Oui? Alors ne t'inquiètes plus parceque sur AfriBelle tu pourras créer ta boutique de beauté en ligne et y ajouter tes produits,
                       et les clientes de AfriBelle viendront déjà avec l'intention de chercher et acheter des produits de beauté -que ça! Cela te permettera de faire des économies au niveau de la publicité. </br></br>

                       Aussi elles ne seront pas distraites par des ventes d'ordinateurs bon marché...

                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/special.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


<div class="content-section-a" style="background-color:#f62e46;color:black">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <center><h1 class="section-heading">
                       <strong> 
                       Proféssionel et attrayant
                      </strong></br>
                       
                       
                    </h1> </center>
                    <p class="lead">
                         Ta boutique en ligne sera visitée par une clientele devouée. Tu pourras nommer ta boutique, vendre tes articles, gérer tes commandes, et voir tes ventes augementer.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/attrayant.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                         <strong>
                          La promotion AfriBelle </br>
                            =
                           Ta promotion
                        </strong></br>
                       
                    </h2>
                    <p class="lead">

                       Puisque AfriBelle se charge de promouvoir son site, tu attires plus de clientes sans depenser dans la pub !


                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/tapromo.jpg" width="130%" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->




<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <center><h1 class="section-heading">
                       <strong> 
                       Utiliser le service coute combien?
                      </strong></br>
                       
                       
                    </h1> </center>
                    <div class="lead" class="col-sm-6">
                         Pendant le temps que AfriBelle effectue sa période d'éssai, créer sur sa boutique sur la platforme sera gratuit. </br>

                         A partir d'une date dont on te fera savoir, tu paieras une modeste somme dans les environs de 5000-10000 FCFA (C'est tout ce que ca coute? Oui!) par mois pour nous aider à garder le site en ligne. </br>

                         Comme tu le constates, payer mensuellement te permettera
                         d'économiser beaucoup plus que de nous donner un pourcentage sur chaque vente! 


                    </div>

                

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <p ng-hide="form">
                        Merci de nous laisser tes cordonées afin de recevoir plus d'informations sur AfriBelle.
                        </br>
                        
                        <label>Ton nom</label>
                        <input type="text" class="form-control" ng-model="sellerContact.nom" />
                        <label>Numéro de téléphone</label>
                        <input type="text" class="form-control" ng-model="sellerContact.telephone" />
                         
                         <label>Message</label>
                         <textarea class="form-control" 
                         placeholder="Tu peut juste nous laisser ton nom et ton téléphone si tu veut" ng-model="sellerContact.message"> 
                        </textarea> 
                        
                        </br>
                        <button class="btn btn-default btn-block" ng-click="submitSeller()"> Envoyer 
                        </button> 
                        {{messageSeller}}
                       

                    </p>

                     <a href="https://www.facebook.com/afribelle/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Restez connectées!</span></a>

                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->





    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2 >Tu aimes le concept AfriBelle?
                        </h2>
                        <h2 style="">Contacte nous au (+225)57842937 ou </br>
                            afribelleci@gmail.com</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                                <a href="https://www.facebook.com/afribelle/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Restez connectées!</span></a>
                            </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Découverte</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small"> &copy; AfriBelle 2016. Tout droits réservés</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/angular.min.js"></script>

    <script>
    var app = angular.module("app",[])
    app.controller("appController",["$scope","$http",function($scope,$http){

        $scope.customerContact = {
            date: new Date(),
            type: "Customer"
        }

        $scope.sellerContact = {
            date: new Date(),
            type: "Seller"
        }

    $scope.form = true
    $scope.submitCustomer = function(){
                $http.post("/landingCustomer",$scope.customerContact).success(function(data){
                $scope.messageCustomer ="Merci beaucoup! Bonne continuation"
            })

    }
     
     $scope.submitSeller = function(){


         $http.post("/landingSeller",$scope.sellerContact).success(function(data){
            $scope.messageSeller ="Merci beaucoup! Bonne continuation"
        })

     }



    }])

    


    </script>


</body>

</html>
